* {
  font-family: "Comic Sans MS", "Times New Roman";

}

.complete {
  text-decoration: line-through;
  color: green;
}

h1 {
  color: #4B0082;
}

p {
  
}

ul {

}

ol li {

}
body {
  background-image: url("../images/obama.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
