* {
  font-family: "Comic Sans MS", "Times New Roman";

}

.complete {
  text-decoration: line-through;
  color: green;
}

.priorityButton {
  color: red;
}

.prioritizedButton {
  color: red;
  background-color: black;
}

.doneButton {
  color: green;
}

h1 {
  color: #4B0082;
  font-size: 40px;
}

p {
  font-size: 26px;
}

body {
  background-image: url("../images/obama.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
